<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/app.css}"/>
    <title>Home | List</title>
</head>
<body>
<h1>Home</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolores eius facilis fuga incidunt, libero nesciunt odit repellendus. Asperiores doloribus dolorum ducimus, maxime mollitia quibusdam similique. Neque non quaerat voluptatum?</p>
<img th:src="@{gifs/compiler-bot.gif}" height="100" alt ="gif"/>
<img src="placehold.it/100x100" alt="logo image" />
</body>
</html>